<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
    {%include 'meta.njk'%}
<!--      <meta name="description" content="{{ description }}"> -->

  {%include 'fonts.njk'%}

  {%include 'styles.njk'%}


</head>
<body>