<!-- Not working here yet. find out why
<link rel="stylesheet" href="{{ root }}css/styles.css"> -->
<!--<link rel="stylesheet" href="../css/styles.css"> -->
<link rel="stylesheet" href="{{ root }}css/styles.css">
<!--<link rel="stylesheet" href="{{'css/styles.css' | url}}">-->